.top-container {
  background-color: #557B83;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: blue;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.pro {
  text-decoration: underline;
}
